.vscode/
*.stash
*.zip
*.txt
*.log
*.sav

# Build files
Makefile
stork
*.o
blz
lzss
moc_*
yromfs/
*.user
qrc_images.cpp
clean
stork_plugin_import.cpp
.DirIcon
StorkEditor.AppImage
lib/ndstool.exe
_bak*
AppDir/etc/
AppDir/lib/
AppDir/lib64/
AppDir/bin/
AppDir/usr/bin/
AppDir/usr/lib64/
AppDir/usr/share/doc/
AppDir/AppRun
Stork_Editor-1.0-x86_64.AppImage

# test extracted files
*.arcz
*.arc
*.mpbz
*.anmz
*.mpdz
*.bin
*.nds
*.crsb
mespack_files/