.vscode/
*.stash
*.zip
*.txt
*.log

# Build files
Makefile
stork
*.o
blz
lzss
moc_*
_nds_unpack/
*.user
qrc_images.cpp

# test extracted files
*.arcz
*.arc
*.mpbz
*.anmz
*.mpdz
*.bin
*.nds
*.crsb

# Save files
*.ydb