.vscode/
*.stash
*.zip
*.txt
*.log
*.sav

# Build files
Makefile
stork
*.o
blz
lzss
moc_*
yromfs/
*.user
qrc_images.cpp
clean
stork_plugin_import.cpp
.DirIcon
StorkEditor.AppImage
lib/ndstool.exe
_bak*

# test extracted files
*.arcz
*.arc
*.mpbz
*.anmz
*.mpdz
*.bin
*.nds
*.crsb
mespack_files/